[build]
  command = "vite build"
  dir = "dist/client"

[build.environment]
  SECRETS_SCAN_OMIT_KEYS = "VITE_SENTRY_PROJECT,VITE_CONVEX_URL,VITE_CLERK_PUBLISHABLE_KEY,VITE_SENTRY_DSN"

[dev]
  command = "npm run dev"
  targetPort = 3000
  port = 8888